In [1]:
# Take input from user
sentence = input("Enter sentence: ")

# Split sentence into words
words = sentence.split()

# Convert list to set to get unique words
unique_words = set(words)

# Print results
print("Unique words count:", len(unique_words))
print("Unique words:", unique_words)

Enter sentence:  python is easy and python is powerful

Unique words count: 5
Unique words: {'and', 'is', 'python', 'easy', 'powerful'}

In [2]:
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

# Find employee with highest salary
highest_employee = max(employees, key=employees.get)

print("Highest Salary:", highest_employee, "-", employees[highest_employee])

Highest Salary: Ravi - 75000

In [3]:
numbers = [45, 22, 89, 10, 66]
print("List:",numbers)

#using max for highest number
print("Max:",max(numbers))

#using min for lowest number
print("Min:",min(numbers))

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

In [4]:
prices = [450, 1200, 899, 1500, 300]
#empty list to store values greater than 1000
a=[]
for i in prices :
    #appending only values >1000
    if i>1000:
        a.append(i)
print("Products above 1000:",len(a))

Products above 1000: 2

In [5]:
attendance = ["P", "P", "A", "P", "P"]
days=len(attendance)
p=0
for i in attendance:
    if i=="P":
        p+=1
print("Attendance Percentage :",(p/days)*100)

Attendance Percentage : 80.0

In [6]:
phone_numbers = [9876543210, 9123456789, 9876543210]
unique_phone_numbers = set(phone_numbers)
print("Unique phone numbers",unique_phone_numbers)

Unique phone numbers {9876543210, 9123456789}

In [7]:
text = "pythonp"
char_count = {}
for i in text:
    char_count[i] = char_count.get(i, 0) + 1
print(char_count)

{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

In [8]:
my_list = [10, 20, 30]
my_tuple = tuple(my_list)
print("Tuple:", my_tuple)

Tuple: (10, 20, 30)

In [9]:
data = {
    "Employee": "Sumanth",
    "Age": 22,
    "Department": "Data Science"
}

key = "Employee"

#checking for key in data
if key in data:
    print("Employee exists")
else:
    print("Employee does not exist")

Employee exists

In [10]:
marks = [99,55,73,68,94,51]
#avg marks = sum of marks / total num of marks
avg = sum(marks)/len(marks)
print("Average Marks :",round(avg,1))

Average Marks : 73.3